<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="/js/main.js"></script>
    <title>New-Api-Project</title>
</head>
    <body>
        <div id="nav-bar">
            <div id="store-text" class="DRY-nav-bar-texts">Store</div>
            <div id="products-text" class="DRY-nav-bar-texts"><a href="/products">Products</a></div>
            <div id="about-us-text" class="DRY-nav-bar-texts"><a href="/about-us">About Us</a></div>
            <div id="settings-text" class="DRY-nav-bar-texts"><a href="/settings">Settings</a></div>
            <div id="container-for-login-and-register">
                <div id="login-text" class="DRY-nav-bar-texts">Log In</div>
                <div id="register-text" class="DRY-nav-bar-texts">Register</div>
            </div>

        </div>

        <div id="rest-of-the-body">
             {{{body}}}
        </div>
       

    </body>
</html>