<h1>Documentation</h1>
<div id="buttons-container-documentation">
    <h2 id="documentation-introduction" class="a-documentation"><a href="/documentation" class="a-documentation">Introduction</a></h2>
    <h2 id="documentation-products" class="a-documentation"><a href="/documentation/products" class="a-documentation">Products</a></h2>
    <h2 id="documentation-users" class="a-documentation"><a href="/documentation/users" class="a-documentation">Users</a></h2>
    <h2 id="documentation-auth" class="a-documentation"><a href="/documentation/auth" class="a-documentation">Auth Passport</a></h2>
</div>


<div id="documentation-users-text" class="documentation-text">

    Log In - Sign Up - Log Out<br><br>
    https://new-backend-project.onrender.com/api/login<br><br><br>

    To Log In:
        {
            'email': "test@hotmail.com",
            'password': "123"
        }

    <br><br>


    To Sign Up:
        {
            'name': "George",
            'email': "test@hotmail.com",
            'password': "123"
        }

    <br><br>


    The Logout is just a simple GET


    <br><br>

    *Data could be found and manipulated by requesting via Postman or ThunderClient*

</div>