<h1>Documentation</h1>
<div id="buttons-container-documentation">
    <h2 id="documentation-introduction" class="a-documentation"><a href="/documentation" class="a-documentation">Introduction</a></h2>
    <h2 id="documentation-products" class="a-documentation"><a href="/documentation/products" class="a-documentation">Products</a></h2>
    <h2 id="documentation-users" class="a-documentation"><a href="/documentation/users" class="a-documentation">Users</a></h2>
    <h2 id="documentation-auth" class="a-documentation"><a href="/documentation/auth" class="a-documentation">Auth Passport</a></h2>
</div>


<div id="documentation-products-text" class="documentation-text">

    Products GET - POST - PUT - DELETE<br><br>
    https://new-backend-project.onrender.com/api/products<br><br><br>

    To Post example:<br>
        {
            'type': "Truck",
            'brand': "Ford",
            'model': "Tauro",
            'img': "file.png"
        }<br><br>
    The data needs to be uploaded in Form, because the file<br> will be saved as BYTEA type<br><br>
    
    To Put example:<br>
        {
            'id': 3,
            'type': "Car",
            'brand': "Fiat",
            'model': "Duna",
            'img': "duna.png"
        }<br><br>
    The Id works to select the product desired to be changed. <br>
    At least, one parameter has to be passed besides the Id<br><br>

    To Delete example:<br>
        {
            'model': "Duna"
        }<br><br>
    The model is the only requirement to select the product<br><br>

    <br><br>

    *Data could be found and manipulated by requesting via Postman or ThunderClient*

</div>