<h1>Documentation</h1>
<div id="buttons-container-documentation">
    <h2 id="documentation-introduction" class="a-documentation"><a href="/documentation" class="a-documentation">Introduction</a></h2>
    <h2 id="documentation-products" class="a-documentation"><a href="/documentation/products" class="a-documentation">Products</a></h2>
    <h2 id="documentation-users" class="a-documentation"><a href="/documentation/users" class="a-documentation">Users</a></h2>
    <h2 id="documentation-auth" class="a-documentation"><a href="/documentation/auth" class="a-documentation">Auth Passport</a></h2>
</div>


<div id="documentation-users-text" class="documentation-text">

    Users GET<br><br><br>

    https://new-backend-project.onrender.com/api/users
    <br><br>

    The PUT and DELETE methods are not available for common users<br><br>

    The POST method is availabe at the SignUp option in Auth Passport

    <br><br>
    *Data could be found by requesting via Postman or ThunderClient*
    

</div>