<h1>Documentation</h1>
<div id="buttons-container-documentation">
    <h2 id="documentation-introduction" class="a-documentation"><a href="/documentation" class="a-documentation">Introduction</a></h2>
    <h2 id="documentation-products" class="a-documentation"><a href="/documentation/products" class="a-documentation">Products</a></h2>
    <h2 id="documentation-users" class="a-documentation"><a href="/documentation/users" class="a-documentation">Users</a></h2>
    <h2 id="documentation-auth" class="a-documentation"><a href="/documentation/auth" class="a-documentation">Auth Passport</a></h2>
</div>

<div id="documentation-introduction-text" class="documentation-text">
    This project is an API REST that relies parts of its request on a simple frontend.
    With it, the user is capable of looking at the products stored in the database. Also, if he has signed uped and loged in, the page will grant him the authority to ADD, UPDATE and DELETE the products he desire.
    <br>
    <br>
    This page has been done using:<br>
    -Node.js<br>
    -PostgreSQL from Vercel<br>
    -Handlebars<br>
    -Passport<br>
    -Javascript<br>

</div>