    <div id="products-title"><h1>Products</h1></div>

    {{!-- <div id="search-bar">
        <img>
    </div> --}}

    <div id="search-bar-div">
        <input type="text" id="search-bar" placeholder="Buscar...">
    </div>

    <div id="products-container">
        {{!-- Products will appear with JS logic --}}
        <div style="color: #FFF;" id="loader" class="loader">
            Loading Products...
        </div>
        {{!-- <div class="products">
            <img src="" class="product-images">
        </div>
        <div class="products">
            <img src="" class="product-images">
        </div>
        <div class="products">
            <img src="" class="product-images">
        </div> --}}

        
    </div>
