    <div id="products-title">Products</div>

    <div id="search-bar">
        <img>
    </div>

    <div id="filter-container">
        <div id="brands" class="individual-filter-container">
            <div id="brand-title" class="filter-titles">Brand</div>
            <div id="brand-0" class="filter-sub-titles">Brand 0</div>
            <div id="brand-1" class="filter-sub-titles">Brand 1</div>
            <div id="brand-2" class="filter-sub-titles">Brand 2</div>
        </div>
        <div id="types" class="individual-filter-container">
            <div id="type-title" class="filter-titles">Type</div>
            <div id="type-0" class="filter-sub-titles">Type 0</div>
            <div id="type-1" class="filter-sub-titles">Type 1</div>
            <div id="type-2" class="filter-sub-titles">Type 2</div>
        </div>
        <div id="wheels" class="individual-filter-container">
            <div id="wheels-title" class="filter-titles">Wheels</div>
            <div id="wheels-0" class="filter-sub-titles">Wheels 0</div>
            <div id="wheels-1" class="filter-sub-titles">Wheels 1</div>
            <div id="wheels-2" class="filter-sub-titles">Wheels 2</div>
        </div>
    </div>

    <div id="products-container">
        {{!-- Products will appear with JS logic --}}
        
        {{!-- <div class="products">
            <img src="" class="product-images">
        </div>
        <div class="products">
            <img src="" class="product-images">
        </div>
        <div class="products">
            <img src="" class="product-images">
        </div> --}}

        
    </div>