<div class="log-titles">SIGN UP</div>
<form id="signup-form" action="/signup" method="POST">
  <input type="text" id="username" name="username" placeholder="Username">
  <input type="email" id="email" name="email" placeholder="Correo electrónico">
  <input type="password" id="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up"></input>
</form>