{{#if mensaje}}
  <div class="alert alert-danger" style="position: absolute; color: #ffffff; top: 5%;">
    {{{mensaje}}}
  </div>
{{/if}}

<div style="height: 500px; width: 500px; top: 20%;">
    <div class="log-titles">ADD PRODUCT</div>
    <form action="/api/postgreSQL" method="POST" enctype="multipart/form-data">
        <input type="text" name="type" id="type" placeholder="Type">
        <input type="text" name="brand" id="brand" placeholder="Brand">
        <input type="text" name="model" id="model" placeholder="Model">
        <input type="file" name="imagen" id="img" value="Image" style="width: 135px;">
        <button type="submit">Add</button>
    </form>
</div>


<div style="height: 500px; width: 500px; top: 40%">
    <div class="log-titles">UPDATE PRODUCT</div>


    <form id="put-form" action="/api/postgreSQL?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="PUT">
        <input type="number" name="id" id="id" placeholder="id" style="width: 30px; color: #FFF; background: #000;">
        <input type="text" name="type" id="type" placeholder="Type">
        <input type="text" name="brand" id="brand" placeholder="Brand">
        <input type="text" name="model" id="model" placeholder="Model">
        <input type="file" name="img" id="img" value="Image" style="width: 135px;">
        <button type="submit">Update</button>
    </form>
</div>


<div style="height: 500px; width: 500px;top: 60%">
    <div class="log-titles">DELETE PRODUCT</div>
    <form action="/api/postgreSQL?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" name="model" id="model" placeholder="Model">
        <button type="submit">Delete</button>
    </form>
</div>

