body{
    background-color: black;
    font-family: Inter;
}

img{
    background-color: #000;
}

input{
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9D9D9;
}

button{
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9D9D9;
}

div{
    position: absolute;
    color: #000;
}

h1, h2{
    color: #FFF;
}

a{
    text-decoration: none;
    color: #000;
}

.a-documentation{
    text-decoration: none;
    color: #FFF;
}

form{
    position: absolute;
    top: 10%;
}

#rest-of-the-body{
    display: flex;
    position: absolute;
    width: 90%;
    height: 90%;
    flex-shrink: 0;
    justify-content: center;
    left: 25vh;
}

#nav-bar{
    position: fixed;
    background: #D9D9D9;
    /* width: 30vh;
    height: 100vh; */
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;

    z-index: 1;
}

.DRY-nav-bar-texts{
    position: absolute;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#store-text{
    position: absolute;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
    /* text-decoration-line: underline; */
    top: 10px;

    z-index: 2;
}

#products-text{
    top: 120px;

    z-index: 2;
}

#about-us-text{
    top: 220px;

    z-index: 2;
}

#user-tools-text{
    top: 320px;

    z-index: 2;
}

#container-for-login-and-register{
    position: absolute;
    top: 90%;
    width: 150px;
    height: 50px;

    z-index: 2;
}

.log-titles{
    color: #FFF;
}

#login-text{
    /* left: 10%; */
    /* align-self: right; */
    /* top: 90%; */

    z-index: 2;
}

#register-text{
    left: 55%;
    width: 100px;
    /* top: 90%; */

    z-index: 2;
}

#products-title{
    position: absolute;
    color: #D9D9D9;
    font-family: Inter;
    /* font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; */
}

#search-bar{
    width: 337px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9D9D9;
    top: 15%;
}

#search-bar-div{
    top: 15%;
}

#filter-container{
    position: absolute;
    width: 10%;
    height: 70%;
    flex-shrink: 0;
    left: 10%;
    top: 30%;
    background: #000;
}

.filter-titles{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter-sub-titles{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 10%;
}

.individual-filter-container{
    width: 100%;
    height: 40%;
}

#brand-0{
    top: 20%;
}

#brand-1{
    top: 35%;
}

#brand-2{
    top: 50%;
}

#types{
    top: 35%;
}

#type-0{
    top: 20%;
}

#type-1{
    top: 35%;
}

#type-2{
    top: 50%;
}

#wheels{
    top: 70%;
}

#wheels-0{
    top: 20%;
}

#wheels-1{
    top: 35%;
}

#wheels-2{
    top: 50%;
}

#products-container{
    top: 35%;
    width: 65%;
    height: 100%;
    flex-shrink: 0;
    background-color: #000;
    left: 25%;
    position: absolute;
}

.products{
    display: block;
    background: #FFF;
    width: 100%;
    height: 100px;
    color: #000;
    position: static;
    margin-bottom: 1%;
    height: 150px;
    width: 150px;
}

.product-images{
    height: 150px;
    width: 150px;
}

#logout-text{
    top: 50%;
    left: 25%;
}

.texts-inside-product{
    position: relative;
    background: gray;
    border-color: #FFF;
    border: solid;
    left: 100%;
    top: -102.5%;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 5px;
}

.method-div{
    height: 500px;
    width: 500px;
}

#method-div-add{
    top: 10%;
}

#method-div-put{
    top: 40%;
}

#method-div-delete{
    top: 70%;
}
